
<form method= "post"> 
  #método 'post' é necessário para que dados cadastrados sejam salvos após a página ser reiniciada. 
  {%csrf_token %}  
  " #mecanismo de segurança exigido pelo Django
  <div>
    <label> Nome </label>
    <input type= "text" name= "title" >
  </div>

  <div> 
    <label> Sobrenome </label>
    <textarea name= "lastname" > </textarea>
  </div>
    
  <div>
    <label> Aniversário </label>
    <input type= "date" name= "dtAniversario" >
  </div>
    
    <div> 
      <input type= "checkbox" name= "primeiraParticipação" >
      <label> Primeira participação do atleta na competição? </label>
    </div>
  <input type= "submit">
  
</form>
